@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500;700&display=swap');

@mixin fontRobotoMedium {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}

@mixin fontRobotoBold {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
}